.prepaid-esims-for {
  width: 381.6px;
  height: 50px;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.heading-1 {
  align-self: stretch;
  position: relative;
  font-size: 48px;
  line-height: 110%;
  font-family: Roboto;
  color: #fff;
}
.slogan {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
.container1 {
  align-self: stretch;
  justify-content: space-between;
  padding: 23px 0;
  min-height: 226px;
}
.banner,
.container1,
.content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
}
.banner {
  width: 1480px;
  border-radius: 0 0 40px 40px;
  background-color: #36a83a;
  overflow: hidden;
  justify-content: center;
  padding: 33.5px 60px;
}
.content1 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 20px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  font-family: Manrope;
}
.esimnamsvg-icon1 {
  height: 60px;
  width: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.north-america1,
.region9 {
  display: flex;
  align-items: center;
}
.north-america1 {
  height: 33px;
  flex: 1;
  position: relative;
  line-height: 120%;
}
.region9 {
  width: 247.6px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
}
.image-icon37 {
  height: 25px;
  width: 38px;
  position: relative;
  border-radius: 4px;
}
.bermuda1,
.region10 {
  display: flex;
  align-items: center;
}
.bermuda1 {
  height: 44px;
  flex: 1;
  position: relative;
  line-height: 135%;
}
.region10 {
  width: 258px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
}
.image-icon38 {
  height: 25px;
  width: 38px;
  position: relative;
  border-radius: 4px;
}
.canada1,
.region11 {
  display: flex;
  align-items: center;
}
.canada1 {
  height: 44px;
  flex: 1;
  position: relative;
  line-height: 135%;
}
.region11 {
  width: 258px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
}
.image-icon39 {
  height: 25px;
  width: 38px;
  position: relative;
  border-radius: 4px;
}
.costa-rica,
.region12 {
  display: flex;
  align-items: center;
}
.costa-rica {
  height: 44px;
  flex: 1;
  position: relative;
  line-height: 135%;
}
.region12 {
  width: 258px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
}
.image-icon40 {
  height: 25px;
  width: 38px;
  position: relative;
  border-radius: 4px;
}
.el-salvador,
.region13 {
  display: flex;
  align-items: center;
}
.el-salvador {
  height: 44px;
  flex: 1;
  position: relative;
  line-height: 135%;
}
.region13 {
  width: 258px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
}
.image-icon41 {
  height: 25px;
  width: 38px;
  position: relative;
  border-radius: 4px;
}
.region14,
.usa {
  display: flex;
  align-items: center;
}
.usa {
  height: 44px;
  flex: 1;
  position: relative;
  line-height: 135%;
}
.region14 {
  width: 258px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
}
.image-icon42 {
  height: 25px;
  width: 38px;
  position: relative;
  border-radius: 4px;
}
.greenland,
.region15 {
  display: flex;
  align-items: center;
}
.greenland {
  height: 44px;
  flex: 1;
  position: relative;
  line-height: 135%;
}
.region15 {
  width: 258px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
}
.image-icon43 {
  height: 25px;
  width: 38px;
  position: relative;
  border-radius: 4px;
}
.guatemala,
.region16 {
  display: flex;
  align-items: center;
}
.guatemala {
  height: 44px;
  flex: 1;
  position: relative;
  line-height: 135%;
}
.region16 {
  width: 258px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
}
.image-icon44 {
  height: 25px;
  width: 38px;
  position: relative;
  border-radius: 4px;
}
.honduras,
.region17 {
  display: flex;
  align-items: center;
}
.honduras {
  height: 44px;
  flex: 1;
  position: relative;
  line-height: 135%;
}
.region17 {
  width: 258px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
}
.image-icon45 {
  height: 25px;
  width: 38px;
  position: relative;
  border-radius: 4px;
}
.mexico,
.region18 {
  display: flex;
  align-items: center;
}
.mexico {
  height: 44px;
  flex: 1;
  position: relative;
  line-height: 135%;
}
.region18 {
  width: 258px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
}
.image-icon46 {
  height: 25px;
  width: 38px;
  position: relative;
  border-radius: 4px;
}
.nicaragua,
.region19 {
  display: flex;
  align-items: center;
}
.nicaragua {
  height: 44px;
  flex: 1;
  position: relative;
  line-height: 135%;
}
.region19 {
  width: 258px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
}
.image-icon47 {
  height: 25px;
  width: 38px;
  position: relative;
  border-radius: 4px;
}
.panama,
.region20 {
  display: flex;
  align-items: center;
}
.panama {
  height: 44px;
  flex: 1;
  position: relative;
  line-height: 135%;
}
.region20 {
  width: 258px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
}
.image-icon48 {
  height: 25px;
  width: 38px;
  position: relative;
  border-radius: 4px;
}
.saint-pierre-and {
  height: 44px;
  flex: 1;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
}
.region-group,
.region21 {
  display: flex;
  flex-direction: row;
}
.region21 {
  width: 258px;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.region-group {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 158px;
  gap: 20px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  font-family: Manrope;
}
.navigation,
.region-parent {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.region-parent {
  width: 1200px;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 282px;
}
.navigation {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-start;
  padding: 80px 20px;
  box-sizing: border-box;
}
.esimsamsvg-icon1 {
  height: 60px;
  width: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.south-america1 {
  height: 33px;
  flex: 1;
  position: relative;
  line-height: 120%;
  display: flex;
  align-items: center;
}
.esimsamsvg-parent {
  width: 251.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.image-icon49 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.argentina1 {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.image-parent {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon50 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.bolivia1 {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.image-group {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon51 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.brazil1 {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.image-container {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon52 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.chile {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.frame-div {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon53 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.colombia {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.image-parent1 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon54 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.ecuador {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.image-parent2 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon55 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.french-guiana {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.image-parent3 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon56 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.guyana {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.image-parent4 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon57 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.paraguay {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.image-parent5 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon58 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.peru {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.image-parent6 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon59 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.suriname {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.image-parent7 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon60 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.uruguay {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.frame-group,
.image-parent8 {
  display: flex;
  flex-direction: row;
}
.image-parent8 {
  width: 208px;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.frame-group {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 158px;
  gap: 20px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  font-family: Manrope;
}
.frame-parent {
  width: 1200px;
  align-items: flex-start;
  gap: 40px;
  max-width: 100%;
}
.frame-parent,
.navigation1,
.productlistingpage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.navigation1 {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  padding: 80px 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.productlistingpage {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  overflow-y: auto;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 24px;
  color: #36a83a;
  font-family: Roboto;
}
@media screen and (max-width: 1200px) {
  .banner {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .heading-1 {
    font-size: 38px;
    line-height: 42px;
  }
}
@media screen and (max-width: 750px) {
  .navigation {
    gap: 32px;
  }
  .frame-parent {
    gap: 20px;
  }
  .navigation1 {
    gap: 32px;
  }
}
@media screen and (max-width: 450px) {
  .heading-1 {
    font-size: 29px;
    line-height: 32px;
  }
  .north-america1 {
    font-size: 19px;
    line-height: 23px;
  }
  .navigation {
    gap: 16px;
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
  .south-america1 {
    font-size: 19px;
    line-height: 23px;
  }
  .navigation1 {
    gap: 16px;
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
