.algeria2,
.image-icon226 {
  align-self: stretch;
  position: relative;
}
.image-icon226 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.algeria2 {
  line-height: 22px;
}
.africa-country-grid,
.flags {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.flags {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.benin2,
.image-icon227 {
  align-self: stretch;
  position: relative;
}
.image-icon227 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  object-fit: contain;
  min-height: 25px;
}
.benin2 {
  line-height: 22px;
}
.africa-country-grid1,
.benin-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.benin-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid1 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 248px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.botswana2,
.image-icon228 {
  align-self: stretch;
  position: relative;
}
.image-icon228 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.botswana2 {
  line-height: 22px;
}
.africa-country-grid2,
.botswana-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.botswana-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid2 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 496px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.burkina-faso2,
.image-icon229 {
  align-self: stretch;
  position: relative;
}
.image-icon229 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.burkina-faso2 {
  line-height: 22px;
}
.africa-country-grid3,
.burkina-faso-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.burkina-faso-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid3 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 744px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.cabo-verde2,
.image-icon230 {
  align-self: stretch;
  position: relative;
}
.image-icon230 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  object-fit: contain;
  min-height: 25px;
}
.cabo-verde2 {
  line-height: 22px;
}
.africa-country-grid4,
.cabo-verde-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cabo-verde-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid4 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 992px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.cameroon2,
.image-icon231 {
  align-self: stretch;
  position: relative;
}
.image-icon231 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.cameroon2 {
  line-height: 22px;
}
.africa-country-grid5,
.cameroon-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cameroon-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid5 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 57px;
  left: 0;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon232 {
  width: 38px;
  height: 25px;
  position: relative;
  border-radius: 4px;
  object-fit: cover;
}
.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9.5px 0 0;
}
.central-african-republic {
  flex: 1;
  position: relative;
  line-height: 135%;
}
.africa-country-grid6 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 57px;
  left: 248px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.chad,
.image-icon233 {
  align-self: stretch;
  position: relative;
}
.image-icon233 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.chad {
  line-height: 22px;
}
.africa-country-grid7,
.chad-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.chad-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid7 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 57px;
  left: 496px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.congo,
.image-icon234 {
  align-self: stretch;
  position: relative;
}
.image-icon234 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.congo {
  line-height: 22px;
}
.africa-country-grid8,
.congo-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.congo-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid8 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 57px;
  left: 744px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon235 {
  width: 38px;
  height: 25px;
  position: relative;
  border-radius: 4px;
}
.image-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9.5px 0 0;
}
.democratic-republic-of {
  flex: 1;
  position: relative;
  line-height: 135%;
}
.africa-country-grid9 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 57px;
  left: 992px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.equatorial-guinea,
.image-icon236 {
  align-self: stretch;
  position: relative;
}
.image-icon236 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.equatorial-guinea {
  line-height: 22px;
}
.africa-country-grid10,
.equatorial-guinea-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.equatorial-guinea-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid10 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 114px;
  left: 0;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.eswatini,
.image-icon237 {
  align-self: stretch;
  position: relative;
}
.image-icon237 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  object-fit: contain;
  min-height: 25px;
}
.eswatini {
  line-height: 22px;
}
.africa-country-grid11,
.eswatini-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.eswatini-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid11 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 114px;
  left: 248px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.ethiopia,
.image-icon238 {
  align-self: stretch;
  position: relative;
}
.image-icon238 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  object-fit: contain;
  min-height: 25px;
}
.ethiopia {
  line-height: 22px;
}
.africa-country-grid12,
.ethiopia-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ethiopia-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid12 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 114px;
  left: 496px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.gabon,
.image-icon239 {
  align-self: stretch;
  position: relative;
}
.image-icon239 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.gabon {
  line-height: 22px;
}
.africa-country-grid13,
.gabon-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.gabon-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid13 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 114px;
  left: 744px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.ghana,
.image-icon240 {
  align-self: stretch;
  position: relative;
}
.image-icon240 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.ghana {
  line-height: 22px;
}
.africa-country-grid14,
.ghana-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ghana-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid14 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 114px;
  left: 992px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.guinea,
.image-icon241 {
  align-self: stretch;
  position: relative;
}
.image-icon241 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.guinea {
  line-height: 22px;
}
.africa-country-grid15,
.guinea-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.guinea-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid15 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 171px;
  left: 0;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.guinea-bissau,
.image-icon242 {
  align-self: stretch;
  position: relative;
}
.image-icon242 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.guinea-bissau {
  line-height: 22px;
}
.africa-country-grid16,
.guinea-bissau-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.guinea-bissau-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid16 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 171px;
  left: 248px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon243,
.ivory-coast {
  align-self: stretch;
  position: relative;
}
.image-icon243 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.ivory-coast {
  line-height: 22px;
}
.africa-country-grid17,
.ivory-coast-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ivory-coast-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid17 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 171px;
  left: 496px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon244,
.kenya {
  align-self: stretch;
  position: relative;
}
.image-icon244 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.kenya {
  line-height: 22px;
}
.africa-country-grid18,
.kenya-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.kenya-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid18 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 171px;
  left: 744px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon245,
.lesotho {
  align-self: stretch;
  position: relative;
}
.image-icon245 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.lesotho {
  line-height: 22px;
}
.africa-country-grid19,
.lesotho-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lesotho-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid19 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 171px;
  left: 992px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon246,
.liberia {
  align-self: stretch;
  position: relative;
}
.image-icon246 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.liberia {
  line-height: 22px;
}
.africa-country-grid20,
.liberia-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.liberia-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid20 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 228px;
  left: 0;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon247,
.madagascar {
  align-self: stretch;
  position: relative;
}
.image-icon247 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.madagascar {
  line-height: 22px;
}
.africa-country-grid21,
.madagascar-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.madagascar-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid21 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 228px;
  left: 248px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon248,
.malawi {
  align-self: stretch;
  position: relative;
}
.image-icon248 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.malawi {
  line-height: 22px;
}
.africa-country-grid22,
.malawi-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.malawi-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid22 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 228px;
  left: 496px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon249 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.mali {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 31.7px;
}
.link13,
.mali-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.link13 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 228px;
  left: 744px;
  flex-direction: row;
  padding: 0 0 19px;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon250,
.mauritania {
  align-self: stretch;
  position: relative;
}
.image-icon250 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.mauritania {
  line-height: 22px;
}
.africa-country-grid23,
.mauritania-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mauritania-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid23 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 228px;
  left: 992px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon251,
.mauritius {
  align-self: stretch;
  position: relative;
}
.image-icon251 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.mauritius {
  line-height: 22px;
}
.africa-country-grid24,
.mauritius-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mauritius-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid24 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 285px;
  left: 0;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon252,
.mayotte {
  align-self: stretch;
  position: relative;
}
.image-icon252 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.mayotte {
  line-height: 22px;
}
.africa-country-grid25,
.mayotte-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mayotte-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid25 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 285px;
  left: 248px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon253,
.morocco {
  align-self: stretch;
  position: relative;
}
.image-icon253 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.morocco {
  line-height: 22px;
}
.africa-country-grid26,
.morocco-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.morocco-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid26 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 285px;
  left: 496px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon254,
.mozambique {
  align-self: stretch;
  position: relative;
}
.image-icon254 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  object-fit: contain;
  min-height: 25px;
}
.mozambique {
  line-height: 22px;
}
.africa-country-grid27,
.mozambique-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mozambique-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid27 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 285px;
  left: 744px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon255,
.niger {
  align-self: stretch;
  position: relative;
}
.image-icon255 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.niger {
  line-height: 22px;
}
.africa-country-grid28,
.niger-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.niger-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid28 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 285px;
  left: 992px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon256,
.nigeria {
  align-self: stretch;
  position: relative;
}
.image-icon256 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.nigeria {
  line-height: 22px;
}
.africa-country-grid29,
.nigeria-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nigeria-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid29 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 342px;
  left: 0;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon257,
.reunion {
  align-self: stretch;
  position: relative;
}
.image-icon257 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.reunion {
  line-height: 22px;
}
.africa-country-grid30,
.reunion-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reunion-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid30 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 342px;
  left: 248px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon258,
.rwanda {
  align-self: stretch;
  position: relative;
}
.image-icon258 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.rwanda {
  line-height: 22px;
}
.africa-country-grid31,
.rwanda-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rwanda-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid31 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 342px;
  left: 496px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon259,
.senegal {
  align-self: stretch;
  position: relative;
}
.image-icon259 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.senegal {
  line-height: 22px;
}
.africa-country-grid32,
.senegal-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.senegal-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid32 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 342px;
  left: 744px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon260,
.seychelles {
  align-self: stretch;
  position: relative;
}
.image-icon260 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  object-fit: contain;
  min-height: 25px;
}
.seychelles {
  line-height: 22px;
}
.africa-country-grid33,
.seychelles-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seychelles-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid33 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 342px;
  left: 992px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon261,
.sierra-leone {
  align-self: stretch;
  position: relative;
}
.image-icon261 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.sierra-leone {
  line-height: 22px;
}
.africa-country-grid34,
.sierra-leone-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sierra-leone-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid34 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 399px;
  left: 0;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon262,
.south-africa {
  align-self: stretch;
  position: relative;
}
.image-icon262 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.south-africa {
  line-height: 22px;
}
.africa-country-grid35,
.south-africa-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.south-africa-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid35 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 399px;
  left: 248px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon263,
.tanzania {
  align-self: stretch;
  position: relative;
}
.image-icon263 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.tanzania {
  line-height: 22px;
}
.africa-country-grid36,
.tanzania-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tanzania-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid36 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 399px;
  left: 496px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon264,
.tunisia {
  align-self: stretch;
  position: relative;
}
.image-icon264 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.tunisia {
  line-height: 22px;
}
.africa-country-grid37,
.tunisia-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tunisia-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid37 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 399px;
  left: 744px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon265,
.uganda {
  align-self: stretch;
  position: relative;
}
.image-icon265 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.uganda {
  line-height: 22px;
}
.africa-country-grid38,
.uganda-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.uganda-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid38 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 399px;
  left: 992px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.image-icon266,
.zambia {
  align-self: stretch;
  position: relative;
}
.image-icon266 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  object-fit: contain;
  min-height: 25px;
}
.zambia {
  line-height: 22px;
}
.africa-country-grid39,
.zambia-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.zambia-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.africa-country-grid39 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 456px;
  left: 0;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 15px;
}
.africa-countries,
.africa2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.africa-countries {
  height: 500px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.africa2 {
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: 80px 360px;
  gap: 64px;
  text-align: left;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  font-family: Manrope;
}
@media screen and (max-width: 1050px) {
  .africa2 {
    gap: 32px;
    padding: 52px 180px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .africa2 {
    gap: 16px;
    padding-left: 90px;
    padding-right: 90px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .africa2 {
    padding-top: 34px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
}
