.contact-information2,
.form-label {
  position: relative;
  line-height: 22px;
}
.form-label {
  width: 40px;
  border: 0;
  outline: 0;
  font-family: Manrope;
  font-size: 16px;
  background-color: transparent;
  height: 22px;
  line-height: 135%;
  color: #000;
  text-align: left;
  display: inline-block;
  padding: 0;
}
.icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.contact-info-labels,
.form-field {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.form-field {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #b6b6b6;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: 14px 16px;
  gap: 64px;
}
.contact-info-labels {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  text-align: left;
  font-size: 16px;
  color: #1c1c1c;
  font-family: Manrope;
}
