.ceo-weeklysvg-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.esim-marketplace1,
.simoptions-the-revolutionary1 {
  margin: 0;
}
.simoptions-the-revolutionary-container1 {
  align-self: stretch;
  position: relative;
  line-height: 135%;
}
.ceo-weeklysvg-group {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.read-article1 {
  flex: 1;
  position: relative;
  line-height: 25px;
  font-weight: 500;
}
.icon17 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.read-article-group {
  width: 121.1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-align: left;
  color: #36a83a;
  font-family: Lato;
}
.frame-parent13 {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 1px;
  box-sizing: border-box;
  gap: 32px;
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  font-family: Manrope;
}
