.compare-and-buy,
.heading-11 {
  position: relative;
  max-width: 100%;
}
.heading-11 {
  height: 90.5px;
  width: 358px;
  display: none;
}
.compare-and-buy {
  width: 432.4px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.destination,
.st-marketplace-for {
  margin: 0;
}
.st-marketplace-for-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 48px;
  line-height: 110%;
  font-weight: 400;
  font-family: Roboto;
  color: #fff;
}
.compare-and-buy-your-internati-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  max-width: 100%;
}
.link1 {
  height: 50px;
  flex: 1;
  min-width: 130px;
}
.sim-crads {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 72px;
}
.link2 {
  border-radius: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 14px 64px;
}
.backgroundshadow,
.c-t-a-links {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.c-t-a-links {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  row-gap: 20px;
}
.backgroundshadow {
  width: 448px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15) inset;
  border-radius: 45px;
  background-color: #fff;
  overflow: hidden;
  padding: 12px 24px;
  box-sizing: border-box;
  text-align: left;
  color: #b7b7b7;
}
.backgroundshadow,
.hero,
.hero-content {
  display: flex;
  max-width: 100%;
}
.hero-content {
  width: 822.3px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  z-index: 1;
}
.hero {
  align-self: stretch;
  background-color: #36a83a;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 87px 20px 87px 21px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  font-family: Manrope;
}
@media screen and (max-width: 825px) {
  .st-marketplace-for-container {
    font-size: 38px;
    line-height: 42px;
  }
}
@media screen and (max-width: 450px) {
  .st-marketplace-for-container {
    font-size: 29px;
    line-height: 32px;
  }
  .link1 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .backgroundshadow {
    gap: 35px;
  }
  .hero-content {
    gap: 16px;
  }
  .hero {
    padding-top: 57px;
    padding-bottom: 57px;
    box-sizing: border-box;
  }
}
