.afghanistan2,
.image-icon184 {
  align-self: stretch;
  position: relative;
}
.image-icon184 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.afghanistan2 {
  line-height: 22px;
}
.afghanistan-wrapper,
.region47 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.afghanistan-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.region47 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.armenia2,
.image-icon185 {
  align-self: stretch;
  position: relative;
}
.image-icon185 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.armenia2 {
  line-height: 22px;
}
.armenia-wrapper,
.region48 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.armenia-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.region48 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 248px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.azerbaijan2,
.image-icon186 {
  align-self: stretch;
  position: relative;
}
.image-icon186 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.azerbaijan2 {
  line-height: 22px;
}
.azerbaijan-wrapper,
.region49 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.azerbaijan-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.region49 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 496px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.bhutan2,
.image-icon187 {
  align-self: stretch;
  position: relative;
}
.image-icon187 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.bhutan2 {
  line-height: 22px;
}
.bhutan-wrapper,
.region50 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bhutan-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.region50 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 744px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.bangladesh2,
.image-icon188 {
  align-self: stretch;
  position: relative;
}
.image-icon188 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.bangladesh2 {
  line-height: 22px;
}
.bangladesh-wrapper,
.image-parent10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bangladesh-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.image-parent10 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 992px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.china,
.image-icon189 {
  align-self: stretch;
  position: relative;
}
.image-icon189 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.china {
  line-height: 22px;
}
.china-wrapper,
.image-parent11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.china-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.image-parent11 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 57px;
  left: 0;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.cyprus,
.image-icon190 {
  align-self: stretch;
  position: relative;
}
.image-icon190 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.cyprus {
  line-height: 22px;
}
.cyprus-wrapper,
.image-parent12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cyprus-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.image-parent12 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 57px;
  left: 248px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.hong-kong,
.image-icon191 {
  align-self: stretch;
  position: relative;
}
.image-icon191 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.hong-kong {
  line-height: 22px;
}
.hong-kong-wrapper,
.image-parent13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hong-kong-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.image-parent13 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 57px;
  left: 496px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon192,
.india {
  align-self: stretch;
  position: relative;
}
.image-icon192 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.india {
  line-height: 22px;
}
.image-parent14,
.india-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.india-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.image-parent14 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 57px;
  left: 744px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon193,
.japan {
  align-self: stretch;
  position: relative;
}
.image-icon193 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.japan {
  line-height: 22px;
}
.image-parent15,
.japan-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.japan-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.image-parent15 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 57px;
  left: 992px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon194,
.kazakhstan {
  align-self: stretch;
  position: relative;
}
.image-icon194 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.kazakhstan {
  line-height: 22px;
}
.image-parent16,
.kazakhstan-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.kazakhstan-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.image-parent16 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 114px;
  left: 0;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.mosvg-icon {
  position: absolute;
  top: calc(50% - 13.1px);
  left: calc(50% - 19px);
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.mosvg-fill {
  height: 25px;
  width: 38px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.image {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.macau {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.image-parent17,
.macau-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.macau-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.image-parent17 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 114px;
  left: 248px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon195,
.pakistan {
  align-self: stretch;
  position: relative;
}
.image-icon195 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.pakistan {
  line-height: 22px;
}
.image-parent18,
.pakistan-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pakistan-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.image-parent18 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 114px;
  left: 496px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon196,
.south-korea {
  align-self: stretch;
  position: relative;
}
.image-icon196 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.south-korea {
  line-height: 22px;
}
.image-parent19,
.south-korea-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.south-korea-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.image-parent19 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 114px;
  left: 744px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon197,
.sri-lanka {
  align-self: stretch;
  position: relative;
}
.image-icon197 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.sri-lanka {
  line-height: 22px;
}
.image-parent20,
.sri-lanka-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sri-lanka-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.image-parent20 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 114px;
  left: 992px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon198,
.taiwan {
  align-self: stretch;
  position: relative;
}
.image-icon198 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.taiwan {
  line-height: 22px;
}
.image-parent21,
.taiwan-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.taiwan-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.image-parent21 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 171px;
  left: 0;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.georgia,
.image-icon199 {
  align-self: stretch;
  position: relative;
}
.image-icon199 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.georgia {
  line-height: 22px;
}
.georgia-wrapper,
.image-parent22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.georgia-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.image-parent22 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 171px;
  left: 248px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon200,
.kyrgyzstan {
  align-self: stretch;
  position: relative;
}
.image-icon200 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.kyrgyzstan {
  line-height: 22px;
}
.image-parent23,
.kyrgyzstan-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.kyrgyzstan-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.image-parent23 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 171px;
  left: 496px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon201,
.maldives {
  align-self: stretch;
  position: relative;
}
.image-icon201 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.maldives {
  line-height: 22px;
}
.image-parent24,
.maldives-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.maldives-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.image-parent24 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 171px;
  left: 744px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon202,
.mongolia {
  align-self: stretch;
  position: relative;
}
.image-icon202 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.mongolia {
  line-height: 22px;
}
.image-parent25,
.mongolia-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mongolia-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.image-parent25 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 171px;
  left: 992px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon203,
.nepal {
  align-self: stretch;
  position: relative;
}
.image-icon203 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.nepal {
  line-height: 22px;
}
.image-parent26,
.nepal-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nepal-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.image-parent26 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 228px;
  left: 0;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon204,
.tajikistan {
  align-self: stretch;
  position: relative;
}
.image-icon204 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.tajikistan {
  line-height: 22px;
}
.image-parent27,
.tajikistan-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tajikistan-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.image-parent27 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 228px;
  left: 496px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon205,
.uzbekistan {
  align-self: stretch;
  position: relative;
}
.image-icon205 {
  width: 38px;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.uzbekistan {
  line-height: 22px;
}
.image-parent28,
.uzbekistan-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.uzbekistan-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
}
.image-parent28 {
  width: 208px;
  margin: 0 !important;
  position: absolute;
  top: 228px;
  left: 992px;
  flex-direction: row;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.navigation3,
.region-parent1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.region-parent1 {
  height: 272px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  font-family: Manrope;
}
.navigation3 {
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: 80px 360px;
  gap: 64px;
  text-align: left;
  font-size: 24px;
  color: #36a83a;
  font-family: Roboto;
}
@media screen and (max-width: 1050px) {
  .navigation3 {
    gap: 32px;
    padding-left: 180px;
    padding-right: 180px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .navigation3 {
    gap: 16px;
    padding: 52px 90px;
    box-sizing: border-box;
  }
}
