.esimmeasvg-icon2 {
  height: 60px;
  width: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.middle-east2 {
  flex: 1;
  position: relative;
  line-height: 33px;
  font-weight: 500;
}
.esimmeasvg-parent {
  width: 210.3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.image-icon267 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.bahrain2 {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.image-parent40 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon268 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.egypt {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.image-parent41 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon269 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.israel {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.image-parent42 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon270 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.qatar {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.image-parent43 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon271 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.turkey {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.image-parent44 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon272 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  object-fit: contain;
  min-height: 25px;
}
.iran {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.image-parent45 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon273 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.iraq {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.image-parent46 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon274 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.jordan {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.image-parent47 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon275 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.kuwait {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.image-parent48 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon276 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.oman {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.image-parent49 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon277 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  object-fit: contain;
  min-height: 25px;
}
.palestine {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.image-parent50 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon278 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.saudi-arabia {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.image-parent51 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.aesvg-fill-icon {
  align-self: stretch;
  width: 38px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 25px;
}
.united-arab-emirates {
  position: relative;
  line-height: 22px;
}
.aesvg-fill-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  gap: 12px;
}
.frame-parent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 158px;
  gap: 20px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  font-family: Manrope;
}
.frame-parent4,
.navigation5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent4 {
  width: 1200px;
  align-items: flex-start;
  gap: 64px;
}
.navigation5 {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  padding: 80px 20px;
  box-sizing: border-box;
  text-align: left;
  font-size: 24px;
  color: #36a83a;
  font-family: Lato;
}
@media screen and (max-width: 1200px) {
  .frame-parent4 {
    gap: 32px;
  }
}
@media screen and (max-width: 750px) {
  .frame-parent4 {
    gap: 16px;
  }
  .navigation5 {
    gap: 32px;
  }
}
@media screen and (max-width: 450px) {
  .middle-east2 {
    font-size: 19px;
    line-height: 26px;
  }
  .navigation5 {
    gap: 16px;
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
