.background12 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(84, 121, 255, 0.06);
}
.heading-210 {
  align-self: stretch;
  position: relative;
  line-height: 53px;
}
.heading-314 {
  width: 133.8px;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: Manrope;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container8,
.trust-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.trust-container {
  width: 525px;
  gap: 14px;
  max-width: 100%;
}
.container8 {
  height: 200px;
  overflow: hidden;
  padding: 0 0 1px;
  box-sizing: border-box;
}
.c-e-o-weekly-container {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 64px;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  font-size: 16px;
  font-family: Manrope;
}
.trust-container-parent {
  width: 992px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 41px;
  max-width: 100%;
  z-index: 1;
}
.container7,
.news-head-container1 {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.container7 {
  width: 1200px;
  border-radius: 80px;
  padding: 79.6px 20px 79.4px;
  position: relative;
}
.news-head-container1 {
  align-self: stretch;
  background-color: #fff;
  padding: 80px 20px;
  text-align: center;
  font-size: 48px;
  color: rgba(0, 0, 0, 0.8);
  font-family: Roboto;
}
@media screen and (max-width: 1050px) {
  .c-e-o-weekly-container {
    gap: 32px;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(150px, 260px));
  }
}
@media screen and (max-width: 750px) {
  .heading-210 {
    font-size: 38px;
    line-height: 42px;
  }
  .c-e-o-weekly-container {
    gap: 16px;
  }
  .trust-container-parent {
    gap: 20px;
  }
  .container7,
  .news-head-container1 {
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
  .news-head-container1 {
    gap: 32px;
  }
}
@media screen and (max-width: 450px) {
  .heading-210 {
    font-size: 29px;
    line-height: 32px;
  }
  .c-e-o-weekly-container {
    grid-template-columns: minmax(150px, 1fr);
  }
  .news-head-container1 {
    gap: 16px;
  }
}
