.image-icon99 {
  width: 400px;
  position: relative;
  border-radius: 20px;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.march-2023,
.the-ultimate-guide {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.the-ultimate-guide {
  font-size: 18px;
  font-family: Roboto;
  max-width: 100%;
}
.march-2023 {
  color: rgba(0, 0, 0, 0.4);
  min-width: 107.4px;
}
.traveling-internationally-can {
  width: 384.5px;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.content2,
.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.content2 {
  align-self: stretch;
  padding: 0 20px 0 0;
  gap: 24px;
}
.post {
  padding: 32px 24px;
  gap: 32px;
  text-align: left;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  font-family: Manrope;
}
@media screen and (max-width: 825px) {
  .post {
    padding-top: 21px;
    padding-bottom: 21px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .post {
    gap: 16px;
  }
}
