.icon7 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.search-for-a {
  flex: 1;
  position: relative;
  font-weight: 300;
}
.backgroundshadow6,
.input,
.input-field {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.input-field {
  width: 351.4px;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.backgroundshadow6,
.input {
  border-radius: 25px;
  background-color: #fff;
  flex-direction: column;
  align-items: flex-start;
}
.input {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  padding: 26px 35px;
  box-sizing: border-box;
}
.backgroundshadow6 {
  width: 800px;
  box-shadow: 0 12px 25px rgba(54, 168, 58, 0.2);
  overflow: hidden;
}
.esimeursvg-icon2 {
  height: 60px;
  width: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.europe-container,
.europe3 {
  display: flex;
  align-items: center;
}
.europe3 {
  height: 33px;
  flex: 1;
  position: relative;
  line-height: 120%;
  color: inherit;
  text-decoration: none;
}
.europe-container {
  width: 160.1px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 16px;
}
.image-icon100 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.azores2 {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon101 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.balearic-islands2 {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list1 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon102 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.belarus2 {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list2 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon103 {
  height: 25px;
  width: 38px;
  position: relative;
  border-radius: 4px;
  object-fit: contain;
}
.bosnia-and-herzegovina2 {
  flex: 1;
  position: relative;
  line-height: 135%;
}
.europe-country-list3 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.image-icon104 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.canary-islands2 {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list4 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon105 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.corfu {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list5 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon106 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.crete {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list6 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon107 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.cyclades-islands {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list7 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon108 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.faroe-islands {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list8 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon109 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.austria2 {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list9 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon110 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.belgium2 {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list10 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon111 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.bulgaria2 {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list11 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon112 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.croatia {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list12 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon113 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.czech-republic {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list13 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon114 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.denmark {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list14 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon115 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.estonia {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list15 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon116 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.finland {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list16 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon117 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.france {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list17 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon118 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.germany {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list18 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon119 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.gibraltar {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list19 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon120 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.greece {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list20 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon121 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.hungary {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list21 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon122 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.iceland {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list22 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon123 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.ireland {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list23 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon124 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.isle-of-man {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list24 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon125 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.italy {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list25 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon126 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.latvia {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list26 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon127 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.liechtenstein {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list27 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon128 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.lithuania {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list28 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon129 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.luxembourg {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list29 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon130 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.malta {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list30 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon131 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.montenegro {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list31 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon132 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.netherlands {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 92.8px;
}
.europe-country-list32,
.image-parent9 {
  display: flex;
  justify-content: flex-start;
}
.image-parent9 {
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.europe-country-list32 {
  width: 208px;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 10px 9px;
  box-sizing: border-box;
}
.image-icon133 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.norway {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list33 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon134 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.poland {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list34 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon135 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.portugal {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list35 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon136 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.romania {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list36 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon137 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.russia {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list37 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon138 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.san-marino {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list38 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon139 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.serbia {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list39 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon140 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.slovakia {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list40 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon141 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.slovenia {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list41 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon142 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.spain {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list42 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon143 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.sweden {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list43 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon144 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.switzerland {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list44 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon145 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.united-kingdom {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list45 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon146 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.vatican {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list46 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon147 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.guernsey {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list47 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon148 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  object-fit: contain;
  min-height: 25px;
}
.jersey {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list48 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon149 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.macedonia {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list49 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon150 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.madeira {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list50 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon151 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.moldova {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list51 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon152 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.monaco {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list52 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon153 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.rhodes {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list53 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon154 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.sardinia {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list54 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon155 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.scotland {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list55 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon156 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.sicily {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list56 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon157 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.ukraine {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list57 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.image-icon158 {
  align-self: stretch;
  width: 38px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  min-height: 25px;
}
.wales {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.europe-country-list58 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 0;
  box-sizing: border-box;
  gap: 12px;
}
.europe-countries {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 880px;
  gap: 20px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  font-family: Manrope;
}
.continents,
.search1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 64px;
  max-width: 100%;
}
.continents {
  width: 1200px;
  align-items: flex-start;
  font-size: 24px;
  color: #36a83a;
  font-family: Roboto;
}
.search1 {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  padding: 80px 20px;
  box-sizing: border-box;
  text-align: left;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
  font-family: Lato;
}
@media screen and (max-width: 1200px) {
  .continents {
    gap: 32px;
  }
  .search1 {
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .continents {
    gap: 16px;
  }
  .search1 {
    gap: 32px;
    padding-top: 34px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .search-for-a {
    font-size: 16px;
  }
  .europe3 {
    font-size: 19px;
    line-height: 23px;
  }
  .search1 {
    gap: 16px;
  }
}
